.content {
  display: flex;
  flex-direction: column;
  margin-block-end: 96px;

  &__container {
    min-width: 288px;
    padding: 0 16px;
    gap: 48px;
    margin: auto;
  }
}

@media(min-width: 1000px) {
    .content__container {
      width: 782px;
    }
}